<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Page</title>
</head>
<body>
    <h1> <center>Automated Data Analyser and Predictor</center> </h1>

    <h3>Show a file-select field which allows only one file to be chosen:</h3>
    <form>
    <label for="myfile">Select a file:</label>
    <input type="file" id="myfile" name="myfile"><br><br>
    <input type="submit">
    </form>

</body>
</html>